@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 1px;
}


body {
  font-family: Oswald, sans-serif;
  color: #201e1e;
  margin: 0;
  background-color: #f8f8f8;
  font-weight: 400;
}

/* headings */

h1,
h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-title {
  float: left;
  font-size: 270%;
}

.hero-image {
  height: 600px;
  width: 100%;
  background-size: 100%;
  background: url(../images/chisinau1.jpg) no-repeat center center;
}

/* nav style */

.menu {
  font-size: 110%;
  padding: 2%;
  margin: 2%;

}

.menu li {
  float: right;
  list-style-type: none;
  margin-right: 2%;
}

.menu a {
  text-decoration: none;
  color: rgb(195, 10, 93);
}

.menu a:hover {
  border-bottom: 1px solid #114287;
}

.active {
  border-bottom: 1px solid #19227f;
}

/* about */

#about {
  height: 600%;
}

.left-about {
  padding-top: 30px;
  width: 33%;
  float: left;
}

.right-about {
  padding-top: 30px;
  width: 33%;
  float: right;
}

.center-about {
  width: 30%;
  margin: 0 auto;
}

.welcome {
  text-align: center;
  margin: 50px 0;
  font-size: 180%;
}

.circle-container {
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
}

#circle-cover-bg {
  background: url('../images/triumph.jpg') no-repeat 44% center;
  background-size: 160%;
  height: 100%;
  border-radius: 50%;
}

/* footer */

footer {
  height: 150%;
}

.social-networks {
  text-align: center;
}

.social-networks>li {
  display: inline;
}

.social-networks i {
  font-size: 100%;
  margin: 1%;
  padding: 5%;
  color: rgb(36, 36, 186);
}

/* Atractions */

.attraction {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.attraction-image {
  width: 40%;
  position: relative;
}

.attraction-image img {
  display: block;
  width: 100%;
  height: auto;
}

.attraction-content {
  width: 60%;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

/* feedback form */

.form-section {
  clear: left;
  background: url(../images/chisinau2.jpg) no-repeat center center;
  background-size: 100%;
  background-position: center;
  height: 800px;
  width: 100%;
}

.form-feedback {
  margin: 150px 10% 0 0;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 400px;
  position: absolute;
  left: 10%;
  padding: 30px;
}


.signup-form>h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.form-thanks {
  text-align: center;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
  .about {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
  }

  .welcome {
    padding: 30px 0;
    margin-top: 0;
  }

  .left-about,
  .right-about {
    width: 100%;
    float: left;
    padding: 0;
  }

  .center-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
  }

  hr {
    display: none;
  }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

  .menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 124%;
    line-height: 130%;
    float: inherit;
  }

  .about {
    width: 90%;
    height: 120px;
    margin: 0 auto;
  }

  .left-about,
  .right-about {
    width: inherit;
  }

  .left-about h2,
  .right-about h2 {
    width: 100%;
    text-align: center;
  }

  .left-about p,
  .right-about p {
    text-align: center;
    padding: 0%;
  }

  .images {
    column-count: 3;
  }

  .description h2 {
    width: 100%;
    text-align: center;
  }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
  .images {
    column-count: 2;
  }
}

/* For medium screens sizes from 400px wide and down */
@media screen and (max-width: 400px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .menu {
    clear: left;
    margin-bottom: 30px;
    line-height: 25px;
    margin-left: 10px;
  }

  main-title {
    font-size: 270%;
  }

  .form-feedback {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
  }

  body {
    font-size: 80%;
    margin: 3%;
  }

  .h2,
  p {
    font-size: 70%;
  }

  .main-title {
    font-size: 135%;
    text-align: center;
    line-height: 10%;
    float: inherit;
  }

  .hero-image {
    background-size: 97%;
    height: 200px;
    width: 100%;
  }

  .menu li {
    font-size: 100%;
    margin: auto;
  }

  .images {
    width: 100%;
  }

  #circle-container {
    background: url('../images/triumph.jpg') no-repeat 44% center;
    background-size: 160%;
    height: 100%;
    border-radius: 50%;
  }

  .circle-container {
    width: 208px;
    height: 208px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .social-networks {
    font-size: 120%;
  }
}

h1,
h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.welcome {
  padding: 16px 0;
  margin-top: 0;
}

.main-title {
  font-size: 124%;
  text-align: center;
  line-height: 130%;
  float: inherit;
}